
<!--自身の名前や投稿の一覧が表示されます。-->
<%= link_to edit_public_customer_path(current_public), style: "color:black;", class: "link" do %>
 <%= current_public.name %><br/>
 <%= current_public.introduction %>
<% end %>
<%#= link_to "編集", edit_public_customer_path(@profile_my.id) %>

<h1>投稿一覧</h1>
<!--以下は投稿の一覧-->
 <% @posts_my.each do |posts| %>
  <table>
    <tr>
     <th>
      <h1>
       <%= posts.title %>
      </h1>
     </th>
    </tr>
    <tr>
      <th>読み方</th>
      <th><%= posts.read %></th>
    </tr>
    <tr>
      <th>意味</th>
      <th><%= posts.meaning %></th>
    </tr>
    <tr><%= link_to "詳細", public_post_path(posts.id), style: "color:black;", class: "link" %></tr>
  </table>
 <% end %>