<!--ここでは自身が投稿を行います。-->


<h1>投稿</h1>
<%= form_with model: @post_new, url: public_posts_path, method: :post do |f| %>
  <h4>題名</h4>
  <%= f.text_field :title %>
  <h4>読み方</h4>
  <%= f.text_field :read %>
  <h4>意味</h4>
  <%= f.text_area :meaning %>
  <div>
    <%= f.submit '作成' %>
  </div>
<% end %>