<!--自分の投稿詳細がみられます。-->
<table>
  <tr>
    <th>
      <h1><%= @post.title %></h1>
    </th>
  </tr>
  <tr>
    <th>
      <h4>読み方</h4><br/>
      <%= @post.read %>
    </th>
  </tr>
  <tr>
    <th>
      <h4>意味</h4><br/>
      <%= @post.meaning %>
    </th>
  </tr>
  <tr>
    <th>
      <% if current_public==@post.public %>
       <%= link_to "編集する", edit_public_post_path(@post.id), style: "color:black;", class: "link" %>
      <% end %>
    </th>
  </tr>
  <tr>
    <th>
      <% if @post.public == current_public %>
       <%= link_to "削除", public_post_path(@post.id), style: "color:black;", class: "link", method: :delete, "data-confirm" => "本当に削除しますか？" %>
      <% end %>
    </th>
  </tr>
</table>

