<!DOCTYPE html>
<html>
  <head>
    <title>SyuX2Daihyakka</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if public_signed_in? %>
      <!--上記はdevise側で用意しているヘルパーメソッド-->
      <!--ログイン済みならばtrueが、ログインしていなければfalseが返される。-->
      <!--ログイン済みの場合、<#% if user_signed_in? %>から<#% else %>間のコードが表示される。-->
      <!--ログインしていない場合、<#% else %>から<#% end %>間のコードが表示される。-->
       <li>
         <%= link_to "ログアウト", destroy_public_session_path, method: :delete %>
       </li>
      <% else %>
       <li>
         <%= link_to "新規登録", new_public_registration_path %>
       </li>
       <li>
         <%= link_to "ログイン", new_public_session_path %>
       </li>
     <% end %>
    </header>
    <%= yield %>
  </body>
</html>
